In [12]:
"""
Functions vs Method
"""

def my_function(x):
  return x+1

y = 3
my_function(y)

4

In [13]:
class my_class:
  def my_method(self):
    return x + 1

cls = my_class()
x = 2
print(cls.my_method())

3

In [5]:
"""
Function Parameters
"""

def introduce_myself(name, birthyear, city):
  print("hello everyone, my name is %s, I was bor in %d, and I live in %s." %(name, birthyear, city))

introduce_myself("김재희", 2002, "경기도")

hello everyone, my name is 김재희, I was bor in 2002, and I live in 경기도.

In [7]:
def check_leap_year(year):
  if year % 4 == 0:
    return "%s is a leap year." %(year)
  else:
    return "%s is not a leap year." %(year)

check_leap_year(2020)

'2020 is a leap year.'

In [10]:
"""
Returning Multiple Values
"""

def square_point(x,y,z):
  x_squared = x ** 2
  y_squared = y ** 2
  z_squared = z ** 2

  return x_squared, y_squared, z_squared

three_squared, four_squared, five_squared = square_point(3,4,5)

print(three_squared, four_squared, five_squared)

9 16 25

In [15]:
"""
Global Variables
"""

a = "Hello"

def prints_a():
  print(a)

prints_a()

Hello

In [18]:
"""
Local Variables
"""

def f1():
  b = 2
  print(b)

f1()
print(b)

2

NameError: ignored

In [23]:
def findvolume(height, width, depth=3):
  print("Height = %s" %(height))
  print("Width = %s" %(width))
  print("Depth = %s" %(depth))
  return height * width * depth

# print(findvolume(2,1,3))
# print(findvolume(height=2, width=1,depth=3))
print(findvolume(height=2, width=1))

Height = 2
Width = 1
Depth = 3
6